<div id="<%= dom_id event %>">
  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Circuit:</strong>
    <%= event.circuit %>
  </p>

  <p>
    <strong>Division:</strong>
    <%= event.division %>
  </p>

</div>
